// 颜色
$mainColor: #47CDD4;
$subColor: #FFBB33;
$blue: #18B5EC;
$green: #47DEAB;

// 文字用色
$primaryTextColor: rgba(50, 50, 51, 1);
$subTextColor: rgba(50, 50, 51, .6);
$thirdTextColor: rgba(50, 50, 51, .4);
$fourthTextColor: rgba(50, 50, 51, .2);